/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-size: 3vh;
  text-decoration: none;
  color: rgb(139, 149, 158);
}

/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  /* debug */
  background-color: yellow;
}

/* logo */
#navbar .logo {
  margin-right: 80px;
}

#navbar .logo a img {
  height: 4vh;
}

/* navbar-list */
#navbar .navbar-list li {
  display: inline-block;
  margin: 0 25px;
}

#navbar .navbar-list li a:hover {
  color: black;
}

/* button */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}

.button a {
  color: white;
}
