/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-bottom: 70px;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(139, 149, 158);
}

a:hover {
 color: black;
}

.active {
  display: block;
}

.hidden {
  display: none;
}
/* HEADER */
header {
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  background-color: rgb(243, 244, 245);
}

.header-nav-left, .header-nav-right {
  display: flex;
  width: 50%;
  align-items: center;
}

.header-nav-right {
 justify-content: flex-end;
}

.header-nav-right a {
  margin-left: 20px;
}

#black {
  color: black;
  margin-right: 20px;
}

/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  /* debug */
  /* background-color: yellow; */
}

/* logo */
#navbar .logo {
  margin-right: 80px;
}

#navbar .logo a img {
  height: 2rem;
}

/* navbar-list */
#navbar .navbar-list{
  width: 100%;
  display:flex;
  list-style-type: none;
}

#navbar .navbar-list li {
  /* display: inline-block; */
  margin-right: 20px;
}

/* Dropdown */
.parent-down {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 20px;
  left: 0px;
  filter: drop-shadow(0 -3px 4px #ccc);
}


#navbar .navbar-list .header-menu-icon {
  width: 290px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}

.dropdown .inner {
  height: 100%;
  width: 100%;
  padding: 0 10px;
}

#navbar .dropdown-list {
  list-style-type: none;
}
#navbar .navbar-list .dropdown-list li {
  margin: 0;
  margin: 20px 0;
}

.dropdown .inner span {
  display: block;
  color: rgb(220, 227, 232);
  font-size: 1.3rem;
  margin-bottom: 20px;
}
/* button */
.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  transition: all 0.2s ease 0s;
}

.button:hover {
  background-color: rgba(25, 28, 31, 0.84);
}

.button a {
  color: white;
}

/* hamburger-menu */
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  background: #2B3F58;
  z-index: 2;
}

.nav-hamburger {
  display: flex;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  background-color: rgb(243, 244, 245);
}

.fa-times {
  font-size: 1.5rem;
  color: black;
}

/* JUMBOTRON */
#jumbo {
  display: flex;
  height: 600px;
  width: 100%;
  padding: 0 10%;
  margin-top: 80px;
}

#jumbo h2 {
  display: none;
}
/* title */
.jumbo-title {
  width: 40%;
  height: 100%;
}

.jumbo-title h1 {
  font-size: 5rem;
  padding-top: 30px;
}

.jumbo-title p {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  line-height: 28px;
  margin-top: 1rem;
  color: rgb(139, 149, 158);
}

/* form */
.jumbo-title .form {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.prefix-container {
  position: relative;
}

.fa-chevron-down {
  position: absolute;
  right: 0;
  top: 3px;
  color: rgb(139, 149, 158);
  font-size: 13px;
}

.form .prefix {
  border: none;
  border-bottom: 1px solid rgb(139, 149, 158);
  width: 60px;
  font-size: 1rem;
  padding-bottom: 5px;
}

.form .phone-number-container {
  margin: 0 15px;
}

.form .phone-number {
  border: none;
  border-bottom: 1px solid rgb(139, 149, 158);
  font-size: 1rem;
  padding-bottom: 5px;
}

.form .button-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: rgba(25, 28, 31, 0.84);
}

.form .button-form span {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: rgb(139, 149, 158);
}

/* time icon */
.time-icon {
  margin-top: 2rem;
}

.time-icon span {
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}

/* image */
.jumbo-img {
  position: relative;
  width: 60%;
  height: 100%;
}

.jumbo-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.jumbo-img a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.fa-play-circle {
  font-size: 5rem;
  color: black;
}

/*  FOOTER */
footer {
  display: none;
}
/* MEDIA QUERY XS */
@media screen and (max-width: 899px) {



  /* HEADER */
  header {
    display: none;
  }

  /* NAVBAR */
  #navbar .navbar-list {
    display: none;
  }

  /* hamburger */
  .fa-bars {
    font-size: 1.5rem;
  }

  /* button */
  #navbar .btn-container .button {
    display: none;
  }

  /* JUMBOTRON */
  #jumbo {
    display: flex;
    flex-direction: column;
    height: 835px;
    align-items: center;
    margin-top: 30px;
  }

  #jumbo h2 {
    display: block;
    font-size: 2rem;
  }

  /* title */
  .jumbo-title {
    width: 80%;
  }

  .jumbo-title h1 {
    font-size: 4rem;
    padding-top: 0;
    text-align: center;
  }

  .jumbo-title p {
    font-size: 24px;
    text-align: center;
  }
  /* form */
  .jumbo-title .form {
    display: none;
  }

  /* time icon */
  .time-icon {
    display: none;
  }

  /* image */
  .jumbo-img {
    margin-top: 4rem;
    min-height: 423px;
  }

  .jumbo-img a {
    display: none;
  }

  /*  FOOTER */
  footer {
    display: block;
    margin-top: 80px;
    height: 70px;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(25, 28, 31, 0.04) 0px -4px 8px, rgba(25, 28, 31, 0.04) 0px -1px 0px;
  }

  footer .btn-container {
    display: flex;
    justify-content: center;
  }


}
