/* General rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-decoration: none;
  color: rgb(139, 149, 158);
}

.active {
  display: block;
}

.hidden {
  display: none;
}
/* NAVBAR */
#navbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 0 10%;
  /* debug */
  /* background-color: yellow; */
}

/* logo */
#navbar .logo {
  margin-right: 80px;
}

#navbar .logo a img {
  height: 2rem;
}

/* navbar-list */
#navbar .navbar-list{
  width: 100%
}

#navbar .navbar-list li {
  display: inline-block;
  margin: 0 20px;
}

#navbar .navbar-list li a:hover {
  color: black;
}

/* Dropdown */
.parent-down {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 35px;
  right: -200px;
  filter: drop-shadow(0 -3px 4px #ccc);
}

#navbar .navbar-list .header-menu-icon {
  background: white;
  width: 280px;
  height: 280px;
  border-radius: 10px;
}

.dropdown .inner {
  height: 100%;
  width: 100%;
  padding: 0 30px;
}

#navbar .navbar-list .dropdown-list li {
  margin: 0;
  margin-top: 30px;
}

.dropdown .inner span {
  display: block;
  color: rgb(220, 227, 232);
  font-size: 1.3rem;
  margin-top: 30px;
}
/* button */
.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
  width: 100%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 120px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: black;
  transition: all 0.2s ease 0s;
}

.button:hover {
  background-color: rgba(25, 28, 31, 0.84);
}

.button a {
  color: white;
}
